<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel= "icon" href="/public/images/icon.png">
  <style rel="stylesheet" href="/public/styles/styles.css"></style>
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
  <script src="../../public/js/index.js"></script>
</body>


</html>