​
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/js/index.js"></script>

  <!-- Header row containing only Log Out button -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-end">
        <div class="btn btn-outline-danger" id= "logoutButton" data-onsuccess="onSignIn">Log Out</div>
      </div>
    </div>
  </div>
</div>

  <!-- Row for Main Logo --><div class="container">
  <div class="row h-50">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <img src="/images/logo.png" width="400" ; height="100"></a>
      </div>
    </div>
  </div>
    <!-- ////MAIN container -->


    <!-- Row for Add Task box and Submit button -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!-- <div class="card-deck mb-3 text-center"> -->
        <form class="card-header addTask">
          <div class="form-group">
            <label for="description">Description</label>
            <input type="description" class="form-control" id="description" placeholder="What do you have to do?">
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="inOutRadio" id="indoor" value="indoor">
            <label class="form-check-label" for="indoor">
              Indoor
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="inOutRadio" id="outdoor" value="outdoor">
            <label class="form-check-label" for="outdoor">
              Outdoor
            </label>
          </div>
          <button id = "submitButton" type="submit" class="btn btn-primary">Submit</button>
        </form>

        </div>

<!-- ////Middle part/// -->
      <div class="col-md-4">
        <p class="subheader">Welcome {{user.first_name}}, Please check the weather and choose a task below!</p>
      </div>
<!-- ///end middle part/// -->


      <div class="col-md-4">
        <div class="card-header">
            <span class="currently">
                <span class="clear-night-icon-currently currently-icon swip">
                  <img width="84" height="84" src="https://www.placecage.com/c/200/300" alt="clear-night Icon">
                </span>
                <span class="desc swap">
                  <ul>
                  <span class="summary swap">67˚&nbsp;Clear.</span>
                  <span class="summary-high-low">
                   
                    <span><span class="high-low-label">Feels Like:&nbsp;</span><span class="feels-like-text">67˚</span></span>
                    <span><span class="high-low-label">Low:&nbsp;</span><span class="low-temp-text">53˚</span></span>
                    <span><span class="high-low-label">High:&nbsp;</span><span class="high-temp-text">79˚</span></span>
                  </ul>
                  </span>
                </span>
              </span>
        </div>
      </div>

      <!-- <style>

      .currently {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  </style> -->
  <!-- /////CLOSE MAIN container//// -->
  

  <!-- EMPTY ROW -->
      <div class="container">
        <div class="col-md-12">
          <p class="empty place"></p>
        </div>
      </div>

      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h2 class="card-title pricing-card-title">2 Do!</h2>
            </div>
            <div class="card-body">
{{#each todo}}
            <label for="Add Task"></label>
            <div class = "card" data-todo="{{this.id}}">
              <div class="card-body">{{this.description}}</div>
            </div> 
            {{/each}}
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h2 class="card-title pricing-card-title">Doing!</h1>
            </div>
            <div class="card-body">
              <!-- <ul class="list-unstyled mt-3 mb-4"> -->
              <label for="Add Task"></label>
              <div class="card">
                <div class="card-body">
                  1. Finishing Project 2
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  2. Do some stuff.
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  3. Mow the lawn.
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h2 class="card-title pricing-card-title">Done!</h1>
            </div>
            <div class="card-body">
              <!-- <ul class="list-unstyled mt-3 mb-4"> -->
              <label for="Add Task"></label>
              <div class="card">
                <div class="card-body">
                  1. Go shopping
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  2. Do the dishes.
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  3. Get a haricut.
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>

        <footer class="footer">
          <div class="two-toned-footer-color"></div>
          <p class="text-muted text-muted-footer text-center">
            &copy; Copyright, UW Coding Bootcamp 2019
          </p>
        </footer>


<!-- jQuery CDN -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
