<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Welcome to our todo App</h5>
          <a href="/register" class="btn btn-primary btn-block mb-2">Register</a>
          <a href="/login" class="btn btn-secondary btn-block">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>