<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Sign in!</h5>
          <p>
            <strong>Username</strong>: <input type="text" name="username"> </p>
          <p>
          <p>
            <strong>Password</strong>: <input type="text" name="password"> </p>
            <a href="/">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>