<div class="container">
  <div class="row">
      <div class="col-4 offset-3">
    <img src="/images/logo.png" width="400" ; height="100"></a>
    </div>
    <div class="col-4 offset-3">
        <div class="card mt-6">
        <div class="card-body">
          <h5 class="card-title">Sign in!</h5>
          <form class="login">
            <div>
              <label for="username">Username</label>
              <input
              type="username"
              id="username"
              />
            </div>
            <div>
              <label for="password">Password</label>
              <input
              type="password"
              id="password"
              />
            </div>
            <button class="btn btn-secondary btn-block" type="submit"> Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>