<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Register an Account!</h5>
          <form class="register">
            <div>
              <label for="firstName"> First Name</label>
              <input type="firstName" id="firstName" placeholder="First Name" />
            </div>
            <div>
              <label for="lastName"> Last Name</label>
              <input type="lastName" id="lastName" placeholder="Last Name" />
            </div>
            <div>
              <label for="username"> Username</label>
              <input type="username" id="username" placeholder="Username" />
            </div>
            <div>
              <label for="password"> Password</label>
              <input type="password" id="password" placeholder="Password" />
            </div>
            <button type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>